@font-face {
	font-family: "Roboto"; 
	src: url("/src/fonts/Roboto-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: bold; 
	}

body {
	background-image: url("/src/assets/summer-bg.jpg");
	transition: background-image 0.5s linear;
	backdrop-filter: blur(7px);
	background-size: cover;
	height: 100vh;
	margin: 0;
}

.header {
	margin: auto;
	text-align: center;

	font-size: 56px;
	color: rgb(255, 115, 0);
	font-family: 'Roboto';
}

.container {
	margin: auto;
	width: 800px;
}

.items {
	display: flex;
	text-align: center;
	gap: 20px;
}

.item {
	margin: 20px auto;
	
	height: 200px;
	width: 200px;
	background-size: 200%;
	background-position: center;
    background-repeat: no-repeat;
	transition: background-size 0.3s linear;
    overflow: hidden;
	
	
	
	
	border-radius: 15%;
	border: 1px solid white;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	&:hover {
		cursor: pointer;
		background-size: 220%;
		transition: background-size 0.3s linear;
	}
}

.item > img {
	height: 50px;
}


#rain {
	background-image: url("/src/assets/rainy-bg.jpg");
}

#summer {
	background-image: url("/src/assets/summer-bg.jpg");
}

#winter {
	background-image: url("/src/assets/winter-bg.jpg");
}


.slider{
	display: flex;
	justify-content: center;
}